.DS_Store
/.gradle
/.idea
/.next
/.nyc_output

!gradle/wrapper/gradle-wrapper.jar

/build
/coverage
/coverage-report
/cypress-coverage
/node_modules

/.storybook/public
/.storybook/node_modules

/services/**/bin
/services/**/build
