.main {
    color: var(--monolieta-text-primary, hsl(0, 0%, 13%));
    font-family: var(--monolieta-font-family, Roboto, sans-serif);
    font-size: 14px;
    font-weight: 400;
}

.stats {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.item {
    display: flex;
    font-family: inherit;
    font-size: inherit;
    gap: 2px;
    justify-content: flex-start;
    list-style: none;
}
