.icon {
    align-items: center;
    background: transparent;
    box-sizing: border-box;
    color: var(--monolieta-input-icon-color, red);
    display: flex;
    height: var(--monolieta-input-height, 28px);
    justify-content: center;
    position: absolute;
    width: var(--monolieta-input-width, 28px);
}

.input {
    background: var(--monolieta-input-background, transparent);
    border-radius: 4px;
    border: 1px solid
        var(--monolieta-input-border-color, rgba(153, 153, 153, 0.4));
    box-sizing: border-box;
    color: var(--monolieta-text-primary, hsl(0, 0%, 13%));
    font-family: var(--monolieta-font-family, Roboto, sans-serif);
    font-size: 14px;
    height: var(--monolieta-input-height, 28px);
    outline: none;
    padding: 6px 6px 6px 28px;
    width: 100%;
}

.input:focus::-webkit-search-cancel-button {
    opacity: 1;
    pointer-events: all;
}

.input::-webkit-search-cancel-button {
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='hsl(220, 13%, 65%)'><path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12' /></svg>");
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    appearance: none;
    height: 14px;
    opacity: 0;
    pointer-events: none;
    width: 14px;
}
