.main {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
    width: 100%;
}

.main::after {
    background-color: #d6d6d6;
    content: "";
    display: block;
    height: 1px;
    margin-top: 8px;
    width: 100%;
}

.action {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.control {
    align-items: flex-start;
    display: flex;
    gap: 16px;
    justify-content: flex-start;
}

.extra {
    align-items: flex-start;
    display: flex;
    gap: 8px;
    justify-content: flex-start;
}
