.main {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.body {
    height: 450px;
    width: 75%;
}

.extra {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 25%;
}

.stats {
    margin-bottom: 16px;
    width: 100%;
}
