.main {
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--monolieta-fab-border-color, transparent);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: var(--monolieta-fab-height, 28px);
    justify-content: center;
    padding: 4px;
    width: var(--monolieta-fab-width, 28px);
}

.icon {
    color: var(--monolieta-fab-color, hsl(0, 0%, 13%));
}

.main:hover {
    background-color: var(--monolieta-fab-bg-hover, #e6e6e6);
}

.main,
.main:active {
    background-color: var(--monolieta-primary, #f2f2f2);
}
