.main {
    background: var(--monolieta-input-background, transparent);
    border-radius: 4px;
    border: 1px solid
        var(--monolieta-input-border-color, rgba(153, 153, 153, 0.4));
    box-sizing: border-box;
    color: var(--monolieta-text-primary, hsl(0, 0%, 13%));
    font-family: var(--monolieta-font-family, Roboto, sans-serif);
    font-size: 14px;
    height: var(--monolieta-input-height, 28px);
    margin-bottom: 4px;
    outline: none;
    padding: 6px 12px;
    width: 100%;
}