.main {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    width: 100%;
}

.action {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}